.header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid;
    z-index: 1;
    height: 7%;
    display: flex;
    background: white;
    padding: 0 2% 0 2%;
}

.left_side, .right_side, .center_side {
    padding: 5px;
    display: flex;
    align-items: center;
}

.left_side {
    width: 30%;
    background: linear-gradient(90deg, #682337 1%, white);
}

.center_side {
    width: 40%;
    justify-content: center;
}

.center_side a {
    font-size: 25;
    color: black;
    text-decoration: none;
}

.right_side {
    width: 30%;
    justify-content: space-around;
    background: linear-gradient(90deg, white 1%, #3e3853);
}

.btn {
    margin: 0 10 0 10;
}